$dark_cyan: #05445e;
$light_green: #75e6da;
$green: #1b978a;
$bottle_green: #006a4e;
$bright_bottle_green: #009D74;
$brighter_bottle_green: #00B786;
$baby_blue: #D4F1F4;

$off_white: #f8f9fa8e;
$almost_white: #fefefe;

$white: #ffffff;
$black: #000000;
$light_grey: #f2f8fa;
$beige: #f5f5dc;
$beige_faded: #f5f5dcc2;
