html {
    font-size: 62.5%;
}

body {
    padding: 0 10rem;
    background: $primary;
}
h1,
h2 {
    margin-bottom: 1rem;
}

hr.section-title__hr {
    width: 42%;
    margin: 0;
    border: 1px solid $secondary;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: initial;
    }
}
