@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");


body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;    
    line-height: 1.5;
    letter-spacing: 1px;
    color: $black;
    

    .resume {
       // background-color: $black;
    }
}

h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.75rem;}
h4 {font-size: 1.7rem;}
h5 {font-size: 1.65rem;}

a {
    text-decoration: none;
    color: $beige;
    &:hover {
        cursor: pointer;
    }
}

a.link { 
    color: $beige;
    border-bottom: 1px solid $beige;
    transition: all .4s ease-in-out;
    padding: .2rem;

    &:hover {
        color:$beige;
        border-bottom: 1px solid $beige;
    }
}


ul {
    list-style-type: none;
}



hr{
  
    border: 0;
    height: 1px;
    width: 10%;
    position: relative;
    margin: 30px auto;
    
    
    &.center-ball{
      background: $beige;
      
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background: $black;
        display: inline-block;
        border: 2px solid $beige;
        @include border-radius(50%);
        position: absolute;
        top: -4px;
        left: 50%;
        margin: 0 0 0 -3px;
      }
    }
    
    &.center-diamond{
      background: $beige;
      
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background: $beige;
        display: inline-block;
        border: 2px solid $beige;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* IE 9 */
        -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
      }
    }
    
    &.center-square{
      background: $beige;
      
      &:before{
        content: "";
        width: 6px;
        height: 6px;
        background: $beige;
        display: inline-block;
        border: 2px solid $beige;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
      }
    }
    
    &.center-star{
      background: $beige;
      
      &:before{
        content: "★";
        color: $beige;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 50%;
        margin: 0 0 0 -3px;
        font-size: 15px;
        line-height: 0;
        text-shadow: 0 0 3px lighten($black, 5%);
      }
    }
  }