h1,
h2,
h3,
h4 {
    color: $secondary;
    font-weight: 700;
}

p,
span {
    color: $text;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 3px;

    @include breakpoint(tab_landscape) {
        font-size: 1.3rem;
    }

    @include breakpoint(tab_portrait) {
        font-size: 1.2rem;
    }

    @include breakpoint(phone) {
        font-size: 1.2rem;
    }
}

.project-overlay {
    text-align: center;
    color: $white;
    font-weight: 700;
}
