.button {
    padding: 0.5rem 2.5rem;
    font-weight: 400;
    border-radius: 5px;

    &-secondary {
        border: 1px solid $primary;
        background-color: transparent;
        color: $primary;
    }
}
