nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;

    img {
        height: 3rem;
    }

    div {
        & :not(:last-child) {
            margin-right: 1rem;
        }
        a {
            cursor: pointer;
        }
    }
}
