header.home {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .intro {
        width: 30%;
        line-height: 1.5;

        @include breakpoint(tab_landscape) {
            width: 45%;
        }

        @include breakpoint(tab_portrait) {
            width: 40%;
        }

        @include breakpoint(phone) {
            width: 100%;
            margin-bottom: 5rem;
        }
        img.socials {
            height: 3rem;

            @include breakpoint(tab_portrait) {
                height: 2.5rem;
            }
        }
    }
    img.banner {
        height: 80%;

        @include breakpoint(tab_landscape) {
            height: 40%;
        }

        @include breakpoint(tab_portrait) {
            width: 40rem;
        }

        @include breakpoint(phone) {
            height: 30rem;
        }
    }

    @include breakpoint(phone) {
        height: auto;
        margin: 15rem 0;
    }
}
