div.about {
    margin: 15rem auto;
    p {
        width: 60%;
        margin: 0 auto 15rem auto;
        text-align: center;
        line-height: 1.5;
    }
    div {
        white-space: nowrap;
        max-width: 100%;
        height: 7rem;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        img {
            position: relative;
            width: 5rem;
            margin-right: 10rem;
        }
    }
}
