header.home {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .intro {
        width: 30%;
        line-height: 1.5;
        img {
            height: 3rem;
        }
    }
    img {
        height: 85%;
    }
}
