div.project {
    position: relative;
    @include display-flex(wrap, center);
    margin: 15rem auto;

    &-container {
        width: 30rem;
        height: 30rem;
        perspective: 100rem;
        margin: 2rem 1rem;
        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }
        &:hover &__inner {
            transform: rotateY(180deg);
        }
    }
    &-thumbnail,
    &-details {
        position: absolute;
        width: 30rem;
        height: 30rem;
        backface-visibility: hidden;
        border-radius: 50%;
    }
    &-thumbnail {
        width: 100%;
        height: 100%;

        img {
            width: 30rem;
            height: 30rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;
        border-radius: 50%;
        background-color: $secondary;
        transform: rotateY(180deg);
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        p,
        span {
            color: $primary;
        }
    }
}

div.about {
    position: relative;
    margin: 15rem auto;
    max-width: 100%;
    overflow: hidden;
    p.about {
        width: 60%;
        margin: 0 auto 25rem auto;
        text-align: center;
        line-height: 1.5;
    }
    div.skills {
        position: absolute;
        bottom: 1rem;
        margin-top: 8rem;
        width: 200%;
        height: 7rem;
        white-space: nowrap;
        text-align: center;
        animation: 20s linear 1s infinite running infiniteScroll;
        img {
            display: inline;
            transition: all 0.2s ease-out;
            position: relative;
            width: 2%;
            margin-right: 3%;
        }
    }
}

.hobbies {
    padding: 15rem 0;
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10rem;
        &__photos {
            position: relative;
            a {
                margin-top: 35rem;
            }
            img {
                position: absolute;
                width: 25rem;
                height: 25rem;
                object-fit: cover;
                border-radius: 50%;
                cursor: zoom-out;
                cursor: -webkit-zoom-out;
                cursor: -moz-zoom-out;
                transition: all 0.5s ease-out;

                &:nth-child(2) {
                    left: 20rem;
                }
                &:nth-child(3) {
                    left: -2rem;
                }

                &:nth-child(4) {
                    top: 15rem;
                    left: 10rem;
                }

                &:hover {
                    transform: scale(1.1);
                    z-index: 6;
                }
            }
        }
    }
    &__books {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border: 1px solid #000000;
        box-shadow: 1px 1px 5px 1px #000000b4;
        cursor: zoom-out;
        cursor: -webkit-zoom-out;
        cursor: -moz-zoom-out;
        transition: all 0.5s ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}
