.bg-dark {
   // background-color: $light_green;
    padding: 10rem 35rem;
}
.resume {

    padding: 2rem 5rem;
    box-shadow: 1px 1px 5px 1px #00000021;
    background-color: $white;

    &__heading {
        text-align: center;
         border-bottom: 1px solid $beige;
         padding: 0 0 2rem 0;
        &-profile {
            &.dot {
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin: 0 2rem;
                border-radius: 50%;
                background-color: $light_green;
                
            }
            &__name {
                font-weight: 600;
                font-size: 5rem;
               
            }
            &__details {
                color: $light_green;
            }
        }
    }

    section {
        margin: 5rem 0;
        padding: 1rem;
    }

    &__body {
        margin: 2rem 0;
        &.profession {
           // background-color: $off_white;
        }

        &-title {
            font-size: 2rem;
        }
        &-item {
            padding: 2rem 0 0 0;

            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            &-intro {

            }
            &-heading {
               font-size: 1.8rem;
            }
            &-subheading {
                font-size: 1.3rem;
                // font-style: italic;
                color: $light_green;
            }

            &__card {
                // padding: 0 2rem 2rem 2rem;
                // box-shadow: 1px 1px 5px 1px #00000021;
                &-list {
                    &.dot {
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        margin: 0 2rem;
                        border-radius: 50%;
                        background-color: $light_green;  
                    }
                }
            }
        }

    }
}