.bg-dark {
   background-color: $off_white;
   // padding: 10rem 35rem;

    @include breakpoint(desktop) {
     // padding: 10rem 5rem;
    }
}
.resume {

    margin: 2rem 15rem;
    padding: 2rem 0;
    background-color: $white;
    // border: 2px solid $beige;

    &__heading {
        text-align: center;
         border-bottom: 2px solid $beige;
         padding: 0 0 2rem 0;
        &-profile {
            &.dot {
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin: 0 2rem;
                border-radius: 50%;
                background-color: $light_green;
                
            }
            &__name {
                font-weight: 600;
                font-size: 5rem;
               
            }
            &__details {
                color: $light_green;
            }
        }
    }

    &__content  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__experience {
        flex: 0 0 60%;
    }
     &__skills {
        flex: 0 0 38%;
      //  background-color: $beige;
    }

    section {
        margin: 2rem 0;
        padding: 1rem;
        // background-color: $beige_faded;
    }

    &__body {
        margin: 2rem 0;

        &-title {
            font-size: 2rem;
            border-bottom: 1px solid $beige;
        }
        &-item {
            padding: 2rem 0 0 0;

            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            &-intro {

            }
            &-heading {
               font-size: 1.8rem;
            }
            &-subheading {
                font-size: 1.3rem;
                // font-style: italic;
                color: $light_green;
            }

            &__card {
                &-list {
                    &.dot {
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        margin: 0 2rem;
                        border-radius: 50%;
                        background-color: $light_green;  
                    }
                }
            }
        }

    }
}